/**************** global init ****************/
.lists {border-top: 1px solid #dedede;}
.lists .list {}
.lists.web .list {color: #555; border-bottom: 1px solid #dedede; margin-bottom: 1em; padding: 1em 0;}
.lists.web .list .title {font-size: 1.325em; color: #111; margin-bottom: 1em; text-decoration: underline; display: inline-block;}
.lists.web .list .content {font-size: 1.125em; margin-bottom: .5em; line-height: 1.2;}
.lists.web .list .link {color: #155daf; margin-bottom: .5em; display: inline-block;}
.lists.web .list .dt {}

.lists.image {}
.lists.image .list {width: 12.5%; border: 5px solid #fff; cursor: pointer; transition: all .5s; display: flex; position: relative;}
.lists.image .list .info {width: 0; height: 100%; background-color: #fff; transition: all .35s; transition-delay: .5s; position: absolute; right: 0; transform: translate(100%);}
.lists.image .list:hover {border-color: #548308; transform: scale(1.5); box-shadow: 0 0 10px rgba(0, 0, 0, .4); z-index: 9999;}
.lists.image .list:hover .info {width: 200px;}


/**********************  *********************/


/******************* 반응형 ******************/
@media (max-width: 1399px) {
	
}

@media (max-width: 1199px) {
	.lists.image .list {width: 16.6667%;}
}

@media (max-width: 991px) {
	.lists.image .list {width: 20%;}
}

@media (max-width: 767px) {
	.lists.image .list {width: 33.3333%;}
}

@media (max-width: 575px) {
	.lists.image .list {width: 50%;}
	.form-control {margin-bottom: .25em;}
}