/**************** global init ****************/
.lists {border-top: 1px solid #dedede;}
.lists .list {}
.lists .list.web {color: #555; border-bottom: 1px solid #dedede; margin-bottom: 1em; padding: 1em 0;}
.lists .list.web .title {font-size: 1.325em; color: #111; margin-bottom: 1em; text-decoration: underline; display: inline-block;}
.lists .list.web .content {font-size: 1.125em; margin-bottom: .5em; line-height: 1.2;}
.lists .list.web .link {color: #155daf; margin-bottom: .5em; display: inline-block;}
.lists .list.web .dt {}


/**********************  *********************/


/******************* 반응형 ******************/
@media (max-width: 1399px) {
	
}

@media (max-width: 1199px) {
	
}

@media (max-width: 991px) {
	
}

@media (max-width: 767px) {
	
}

@media (max-width: 575px) {
	.form-control {margin-bottom: .25em;}
}