/**************** global init ****************/
body {height: 10000px;}
.lists {border-top: 1px solid #dedede; overflow-wrap: break-word;}
.lists .link {width: 100%;}
.lists.web .list {color: #555; border-bottom: 1px solid #dedede; margin-bottom: 1em; padding: 1em 0;}
.lists.web .list .title {font-size: 1.325em; color: #111; margin-bottom: 1em; text-decoration: underline; display: inline-block;}
.lists.web .list .content {font-size: 1.125em; margin-bottom: .5em; line-height: 1.2;}
.lists.web .list .link {color: #155daf; margin-bottom: .5em; display: inline-block; width: 100%;}

.lists.image {z-index: 1;}
.lists.image .list {width: 12.5%; border: 5px solid #fff; cursor: pointer; transition: all .5s;}
.lists.image .list:hover {border-color: #548308; transform: scale(1.5); box-shadow: 0 0 10px rgba(0, 0, 0, .4); z-index: 9;}

.lists.blog {}
.lists.blog .list {display: flex; align-items: flex-start; flex-wrap: wrap; padding: 1em; border-bottom: 1px solid #dedede;}
.lists.blog .list .thumbs {width: 140px; padding: 4px; border: 1px solid #96b8ee;}
.lists.blog .list .contents {width: calc(100% - 140px); padding-left: 1.5em;}
.lists.blog .list .contents .title {font-size: 1.25em; color: #03378a; margin-bottom: .5em; display: inline-block;}
.lists.blog .list .contents .content {font-size: 1em; line-height: 1.25; color: #777; margin-bottom: .75em;}
.lists.blog .list .contents .name {font-size: 1em; color: #03378a; margin-bottom: .325em; display: inline-block;} 
.lists.blog .list .contents .link {font-size: 1em; color: #03378a; margin-bottom: .325em; display: inline-block;} 
.lists.blog .list .contents .dt {font-size: .875em; color: #999; display: block;} 


.lists.clip {}
.lists.clip .list {display: flex; flex-wrap: wrap; align-items: flex-start; padding: 1em; border-bottom: 1px solid #dedede;}
.lists.clip .list .thumbs {width: 148px; padding: 4px; border: 1px solid #96b8ee;}
.lists.clip .list .contents {width: calc(100% - 148px); padding-left: 1.5em;}
.lists.clip .list .contents .title {font-size: 1.25em; color: #03378a; margin-bottom: .5em; display: inline-block;}
.lists.clip .list .contents .author {font-size: 1em; color: #03378a; margin-bottom: .325em; display: inline-block;} 
.lists.clip .list .contents .play-time {font-size: 1em; color: #777; margin-bottom: .325em;}
.lists.clip .list .contents .link {font-size: 1em; color: #03378a; margin-bottom: .325em; display: inline-block;} 
.lists.clip .list .contents .dt {font-size: .875em; color: #999; display: block;} 

.lists.book {display: flex; flex-wrap: wrap;}
.lists.book .list {width: 50%; padding: 2em; border-bottom: 1px solid #dedede;}
.lists.book .list:nth-child(odd) {border-right: 1px solid #dedede;}
.lists.book .title {font-size: 1.25em; color: #03378a; margin-bottom: .75em; display: inline-block;}
.lists.book .info-wrap {display: flex; align-items: flex-start; margin-bottom: 1em;}
.lists.book .thumb-wp {width: 130px; padding: 4px; border: 1px solid #96b8ee;}
.lists.book .info-wp {width: calc(100% - 130px); padding-left: 1.5em;}
.lists.book .info-wp .authors {margin-bottom: .75em;}
.lists.book .info-wp .prices {margin-bottom: .625em;}
.lists.book .info-wp .prices .price {color: #999; text-decoration: line-through;}
.lists.book .info-wp .prices .sale-price {font-size: 1.125em; color: #03378a;}
.lists.book .info-wp .prices .status {color: #999;}
.lists.book .info-wp .publisher {margin-bottom: .75em;}
.lists.book .info-wp .isbn {margin-bottom: .75em; color: #999;}
.lists.book .info-wp .dt {margin-bottom: .75em; color: #999;}
.lists.book .content {color: #444; line-height: 1.25;}

.lists.cafe {}
.lists.cafe .list {display: flex; align-items: flex-start; flex-wrap: wrap; padding: 1em; border-bottom: 1px solid #dedede;}
.lists.cafe .list .thumbs {width: 140px; padding: 4px; border: 1px solid #96b8ee;}
.lists.cafe .list .contents {width: calc(100% - 140px); padding-left: 1.5em;}
.lists.cafe .list .contents .title {font-size: 1.25em; color: #03378a; margin-bottom: .5em; display: inline-block;}
.lists.cafe .list .contents .content {font-size: 1em; line-height: 1.25; color: #777; margin-bottom: .75em;}
.lists.cafe .list .contents .name {font-size: 1em; color: #03378a; margin-bottom: .325em; display: inline-block;} 
.lists.cafe .list .contents .link {font-size: 1em; color: #03378a; margin-bottom: .325em; display: inline-block;} 
.lists.cafe .list .contents .dt {font-size: .875em; color: #999; display: block;} 

.pager-wrap {display: flex; justify-content: center; margin: 2em 0;}
.pager-wrap button {width: 32px; height: 32px; border: 1px solid #ccc; text-align: center; line-height: 30px; margin-right: -1px; text-decoration: none; font-style: normal; cursor: pointer;}
.pager-wrap .bt-page.active {background-color: #333; color: #fff;}
.pager-wrap button:not(.bt-page) {background-color: #efefef;}

.modal-wrapper {position: fixed; top: 0; left: 0; width: 100%; height: 100vh; z-index: 2; background-color: rgba(0, 0, 0, .8); display: flex; justify-content: center; align-items: center;}
.modal-wrapper .modal-wrap {background-color: #fff;}
.modal-wrapper .modal-wrap .img-wp {position: relative;}
.modal-wrapper .modal-wrap .img-wp img {max-width: 80vw; max-height: 60vh;}
.modal-wrapper .modal-wrap .img-wp .bt-close {position: absolute; background-color: rgba(255, 0, 0, .7); color: #fff; width: 40px; height: 40px; font-size: 24px; text-align: center; line-height: 40px; cursor: pointer;}
.modal-wrapper .modal-wrap .size-wp {font-size: .875em; color: #999;}
.modal-wrapper .modal-wrap .name-wp {font-size: 1.25em; color: #111;}
.modal-wrapper .modal-wrap .name-wp .name {text-decoration: underline;}
.modal-wrapper .modal-wrap .link {color: #155daf; font-size: .875em; display: inline-block; width: 100%; overflow-wrap: break-word;}
.modal-wrapper .modal-wrap .dt {color: #999; font-size: .875em;}

/* .lists.image .list {width: 12.5%; border: 5px solid #fff; cursor: pointer; transition: all .5s; display: flex; position: relative;}
.lists.image .list .info {width: 0; height: 100%; background-color: #fff; transition: all .35s; transition-delay: .5s; position: absolute; right: 0; transform: translate(100%);}
.lists.image .list:hover {border-color: #548308; transform: scale(1.5); box-shadow: 0 0 10px rgba(0, 0, 0, .4); z-index: 9999;}
.lists.image .list:hover .info {width: 200px;} */


/**********************  *********************/


/******************* 반응형 ******************/
@media (max-width: 1399px) {
	
}

@media (max-width: 1199px) {
	.lists.image .list {width: 16.6667%;}
}

@media (max-width: 991px) {
	.lists.image .list {width: 20%;}
}

@media (max-width: 767px) {
	.lists.image .list {width: 33.3333%;}
	.lists.blog .list .contents {width: 100%;}
	.lists.blog .list .thumbs {margin-bottom: 1em;}
	.lists.blog .list .contents {padding-left: 0;}
	.lists.clip .list .thumbs {margin-bottom: 1em;}
	.lists.clip .list .contents {width: 100%; padding-left: 0;}
	.lists.cafe .list .contents {width: 100%;}
	.lists.cafe .list .thumbs {margin-bottom: 1em;}
	.lists.cafe .list .contents {padding-left: 0;}
	.lists.book .list {width: 100%;}
	.lists.book .list:nth-child(odd) {border-right: none;}	

	.modal-wrapper .modal-wrap {width: 96%;}
	.modal-wrapper .modal-wrap .img-wp img {max-width: 100%;}
	.modal-wrapper .modal-wrap .img-wp .bt-close {right: 0;}
}

@media (max-width: 575px) {
	.lists.image .list {width: 50%;}
	.form-control {margin-bottom: .25em;}
}